.landmark-list {
  display: flex;
  flex-direction: column;
  position: relative;
}

.landmark-list__controls {
  margin: 25px 0 0;
}

.landmark-list__card-scroll {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
