.header {
  position: fixed;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: grid;
  width: 100%;
  height: var(--header-y);
  padding: 0 var(--space);
  align-items: center;
  gap: 0 var(--space);
  color: color(display-p3 0.13 0.13 0.13);
  background-color: color(display-p3 0.98 0.98 0.98);
  border-bottom: 1px solid currentColor;
  font-variation-settings: "wght" 240;
  letter-spacing: -0.04em;
}

.header__title {
  /* font-family: "Bitcount Grid Single"; */
  font-family: "ShareTech Regular";
  font-size: 40px;
  color: #333;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
}

.header__logo {
  background-image: url(../images/BSRT.png);
}

.header__nav-list {
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  color: black;
}
