.barchart__container {
  width: 100%;
  max-width: 500px;
  height: 500px;
  margin: 32px auto;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 12px;
  border: 2px solid #f97316;
  border-radius: 20px;
  box-shadow: 4px 6px #ffb38a;
  overflow: hidden;
}

.barchart__title {
  font-size: 32px;
  font-weight: 700;
  color: #792008;
  margin: 30px 5px 10px 5px;
}

@media screen and (max-width: 600px) {
  .barchart__container {
    width: 90%;
    padding: 16px;
    margin: 18px auto;
    overflow-x: auto;
    height: auto;
  }

  .barchart__title {
    font-size: 24px;
    text-align: center;
    margin: 20px 0 10px;
  }
}
