@import "./vendor/fonts.css";

* {
  outline: 1px solid red;
}

:root {
  font-family: "Montserrat";
  line-height: 1.5;
  font-weight: 400;
  min-height: 100vh;
  background: #fff6ea;
}

.content-layout {
  display: flex;
  width: 100%;
  gap: 20px;
}

.app-container {
  position: relative;
  height: 100vh;
}
