.map-container {
  /* position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0; */
  margin-top: 150px;
  height: 600px;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.retro-marker {
  font-size: 50px;
  color: #ffcc00;
  text-shadow: 2px 2px 4px #000;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0) rotate(-15deg);
  }
  50% {
    transform: translateY(-10px) rotate(-15deg);
  }
}

@media (max-width: 768px) {
  .map-container {
    height: 250px;
  }
}
